@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

.home-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #EA8D8D, #A890FE);
  font-family: "Poppins", sans-serif;
  animation: floatBackground 10s ease-in-out infinite alternate;
}

@keyframes floatBackground {
  0% { background-position: left top; }
  100% { background-position: right bottom; }
}

.home-card {
  background: rgba(255, 255, 255, 0.249);
  border-radius: 20px;
  padding: 3rem;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
  text-align: center;
  width: 350px;
}

.app-title {
  font-size: 2.5rem;
  color: #0077b6;
  margin-bottom: 0.5rem;
}

.app-tagline {
  font-size: 1rem;
  color: #333;
  margin-bottom: 2rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-btn {
  padding: 0.75rem;
  border: none;
  border-radius: 40px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.user-btn {
  background-color: #0077b6;
  color: white;
}

.user-btn:hover {
  background-color: #0096c7;
}

.seeker-btn {
  background-color: #00b4d8;
  color: white;
}

.seeker-btn:hover {
  background-color: #48cae4;
}
.register-btn {
  margin-top: 10px;
  background: #00b4d8;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
  font-weight: 600;
}

.register-btn:hover {
  background: #d4073766;
}
