.App {
  text-align: center;
  background-color: #0b132b;
  min-height: 100vh;
  color: #f5f5f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header h1 {
  font-size: 2.5rem;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
